{% comment %} Head componnent HTML{% endcomment %}
{% include 'recipes/partials/head.html' %}

<body>
  {% comment %} Header componnent HTML{% endcomment %}
  {% include 'recipes/partials/header.html' %}

  {% comment %} Search componnent HTML {% endcomment %}
  {% include 'recipes/partials/search.html' %}

  <main class="main-content-container">
    <div class="main-content main-content-list container">
      <div class="recipe recipe-list-item">
        <div class="recipe-cover">
          <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg" alt="">
        </div>
      </div>
    </div>
  </main>

</body>
