{% comment %} Head componnent HTML{% endcomment %}
{% include 'recipes/partials/head.html' %}

<body>
  {% comment %} Header componnent HTML{% endcomment %}
  {% include 'recipes/partials/header.html' %}

  {% comment %} Search componnent HTML {% endcomment %}
  {% include 'recipes/partials/search.html' %}

  <main class="main-content-container">
    <div class="main-content main-content-list container">
      {% comment %} Main content recipe container model {% endcomment %}
      {% include "recipes/partials/recipe-main.html" %}
    </div>
  </main>

</body>